.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item svg {
    margin-right: 10px;
    color: #333;
}

.phone-link,
.address-link,
.social-link {
    text-decoration: none;
    color: #007bff;
}

.phone-link:hover,
.address-link:hover,
.social-link:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #0056b3;
}

@media (min-width: 768px) {

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        width: 40rem;
        padding: 15px 20px;
    }

    .contact-form {
        padding: 20px;
    }
}